.app-wrapper {
    margin: 0 10%;
    display: grid;
    width: auto;
    grid-template-areas:
  'header header header'
  'nav content side'
  'f f f';

    grid-template-columns: 200px 1500px 200px;
    grid-template-rows: 100px auto 50px;
    column-gap: 5px;
    row-gap: 5px;
}

.app-wrapper-content {
    grid-area: content;
    background-color: #fff;
}





