.frList {
    padding: 10px;
    text-decoration: none;
}

.pages {
    font-size: 16px;
    padding-left: 5px;
}
.notActive {
    font-size: 16px;
    padding-left: 5px;
}

.pages:hover {
    font-size: 20px;
}

.selectedPage {
    font-size: 20px;
    padding-left: 5px;
}

.isLoader {
    margin-left: 40%;
    width: 200px;
    height: 200px;
}



